.dnd-pane
  position: relative
  background-color: rgba(100, 50, 50, .3)

  .content
    height: 100%
    display: flex
    flex-flow: column wrap
    align-content: flex-start
    margin: 0
    padding: .5em 0 0 .5em

    .dnd-widget-placeholder
      box-sizing: border-box
      border: .1em dotted black
      margin: 0 .25em .25em 0

    //padding: 1px
