.dnd-widget

  //float: left
  width: 15em
  min-height: 10em
  max-height: 10em
  margin: 0 .25em .25em 0
  //padding: .1em
  overflow: hidden

  >.dnd-widget-header
    position: relative
    height: 2em
    padding: 0.4em
    cursor: move

    >.dnd-widget-toggle
      position: absolute
      top: .5em
      right: .5em

  >.dnd-widget-content
    padding: 0.4em
    height: 100%
    overflow: auto
